<context style="background:#FFF;">
    <style>

        .pinjia{
            border: solid 1px rgb(240,240,240);
            width: 90%;
            margin: 0 auto;
            display: block;
            height: 100px;
            margin-top: 20px;
            padding: 5px 5px 5px 5px;
        }

        .fabu{
            margin: 0 auto;
            display: block;
            margin-top: 20px;
            width: 90%;
            background-color: #00BCD4;
            color: #fff;
        }



    </style>

    <header>
        <icon class="category" data-action="b_return">
            <img src="icon/close.svg">
        </icon>
        <span class="header-title">
            发表评论
        </span>
    </header>

    <div>
        <textarea name="text" class="pinjia" placeholder="请输入评论"></textarea>
    </div>

    <div>
        <button class="fabu">发表评论</button>
    </div>

</context>


