<context>

    <header>
        <icon class="category" data-action="r_return">
            <img src="icon/back.svg">
        </icon>
        <span class="header-title">
            我的文章
        </span>
    </header>
    <div class="_text-context">
             虎嗅注：不管你用PC或是Mac，只要你在中国大陆，就逃不脱QQ。

        用Mac的都是些什么人？Mac QQ团队的说法可能比较靠谱。

        本文转自凤凰科技，原标题为《QQ大数据：哪些人在用Macbook？典型用户什么样？》，虎嗅编辑后发布。

        昨日从2011年第一个版本上线至今已走过四年的腾讯MacQQ团队，在北京举办沟通会，听取用户意见，改进产品方案。

        在昨日的交流会上，QQ发布了一则2015 Mac用户调研大数据，揭示Mac QQ的用户特征和市场需求，通过大数据揭示了“到底什么人在用Mac”。


        什么人在用mac.jpg

        （什么人在用Mac）

        在QQ对Mac用户的大数据中可以看出，52%Mac QQ用户为白领、26%为学生，这78%的人群代表了大多数用户。从性别看，79%为男性，21%为女性；而从年龄看，73%为18-30岁的年轻人;根据行业区分，IT/电信/互联网行业用户最多，为40%。

        其中，71%的女性用户使用年限为3年以下，超过40%的用户为三四线城市，可见女性和三四线城市用户将是未来的增长点。

        根据QQ描绘的Mac用户形象，重点用户主要分为两类：

        mac用户形象.jpg
        （Mac用户形象）

        第一类是从事IT/电信/互联网或新闻/媒体行业的男性年轻白领，关注高效的工作状态，经常尝试新奇有趣的应用，并且拥有多个苹果设备，协同工作要求高。

        第二类是男性大学生，主要用于娱乐、学习，喜欢使用Mac自带应用，电脑技能相对较浅，他们经常挂QQ，尤其注重群交流，是典型的“群居动物”。

        macappstore用户评分.jpg
        （Mac App Store中用户对Mac QQ的评分）

        在Mac App Store中，用户对Mac QQ的评分为2.5星。
    </div>

</context>

