._text-context{
    color: #676767;
    padding-left: 22px;
    /* padding-top: 16px; */
    /* padding-bottom: 15px; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,.2); */
    font-weight: bold;
    padding-right: 22px;
    line-height: 2rem;
    font-size: 1.2rem;
    background: #fff;
    overflow: scroll;
    max-height: calc(100% - 88px);
}
